<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiking.minimap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.hiking.minimap.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hiking.minimap.waypoints.WaypointCreatorActivity"
            android:label="@string/title_activity_waypoint_creator"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hiking.minimap.waypoints.WaypointListActivity"
            android:label="@string/title_activity_waypoint_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hiking.minimap.waypoints.WaypointEditorActivity"
            android:label="@string/title_activity_waypoint_editor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hiking.minimap.SettingsActivity"
            android:label="@string/title_activity_settings" 
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
